[submodule "tools/iw5oat/thirdparty/libtomcrypt"]
	path = tools/iw5oat/thirdparty/libtomcrypt
	url = https://github.com/libtom/libtomcrypt.git
[submodule "tools/iw5oat/thirdparty/libtommath"]
	path = tools/iw5oat/thirdparty/libtommath
	url = https://github.com/libtom/libtommath
[submodule "tools/iw5oat/thirdparty/zlib"]
	path = tools/iw5oat/thirdparty/zlib
	url = https://github.com/madler/zlib.git
[submodule "tools/iw5oat/thirdparty/catch2"]
	path = tools/iw5oat/thirdparty/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "tools/iw5oat/thirdparty/json"]
	path = tools/iw5oat/thirdparty/json
	url = https://github.com/nlohmann/json.git
[submodule "tools/iw5oat/thirdparty/eigen"]
	path = tools/iw5oat/thirdparty/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "tools/iw5oat/thirdparty/lz4"]
	path = tools/iw5oat/thirdparty/lz4
	url = https://github.com/lz4/lz4.git
[submodule "tools/iw5oat/thirdparty/webwindowed"]
	path = tools/iw5oat/thirdparty/webwindowed
	url = https://github.com/Laupetin/webwindowed.git
[submodule "tools/iw5oat/thirdparty/stb"]
	path = tools/iw5oat/thirdparty/stb
	url = https://github.com/nothings/stb.git
[submodule "dxvk/include/native/directx"]
	path = dxvk/include/native/directx
	url = https://github.com/Joshua-Ashton/mingw-directx-headers
[submodule "dxvk/include/vulkan"]
	path = dxvk/include/vulkan
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "dxvk/include/spirv"]
	path = dxvk/include/spirv
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "dxvk/subprojects/libdisplay-info"]
	path = dxvk/subprojects/libdisplay-info
	url = https://github.com/doitsujin/libdisplay-info.git
	branch = windows
[submodule "dxvk/subprojects/dxbc-spirv"]
	path = dxvk/subprojects/dxbc-spirv
	url = https://github.com/doitsujin/dxbc-spirv.git
